* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
}

.hero{
    background-color: white;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
}

li{
    display: block;
    padding: 20px 60px 20px 60px;
}


#navbar-image{
    max-width: 10vh
}

.banner{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80vh;
}

.b-description{
    align-items: center;
}

/* EVENTS */

.Events{
    max-width: 1920px;
    width: 1920px;
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80vh;
}

.Row{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Col{
    width: 33.3%;
}

.Col img{
    max-width: 1000px;
    width: 80%;
}

.Title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
