* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
}

.hero{
    background-color: white;
}

nav{
    display: flex;
    border-bottom: 2px black solid;
}

nav ul{
    display: flex;
    align-items: center;
}

li{
    display: block;
    padding: 20px 60px 20px 60px;
}


#navbar-image{
    max-width: 10vh
}

/* Hero */
.hero{
    background-color: black;
    max-width: 1920px;
    height: 100%;
}
.hero_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero_left, .hero_right{
    padding: 10rem;
    width: 50%;
}
.hero_left img{
    width: 600px;
}