* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
}

*::-webkit-scrollbar{
    display: none;
}

.hero{
    background-color: white;
}

nav{
    display: flex;
    border-bottom: 2px black solid;
}

nav ul{
    display: flex;
    align-items: center;
}

li{
    display: block;
    padding: 20px 60px 20px 60px;
}


#navbar-image{
    max-width: 10vh
}

/* Hero */
.hero{
    max-width: 1920px;
    height: 100%;
}
.hero_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_left, .hero_right{
    padding: 8rem;
    width: 50%;
}
.hero_right{
}
.hero_left img{
    width: 100%;
}

/* Donate */

.donate{
    max-width: 1920px;
    height: 400px;
    text-align: center;
    border-bottom: 2px white solid;
}

.donate_wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.donate-nav ul{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.donate-nav ul li{
    padding-top: 2rem;
}

/* Footer */
.footer_wrapper{
    display: flex;
    height: 15rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col2{
    display: block;
    width: 33.3%;
}
.col2 > a > p{
    padding-top: 10px;
}
.col3{
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 2rem 0 2rem 0;
    border-top: 2px white solid;
}
.col3 p{
    padding-top: 0;
}