* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
}

*::-webkit-scrollbar{
    display: none;
}

.hero{
    background-color: white;
}

nav{
    display: flex;
    border-bottom: 2px black solid;
}

nav ul{
    display: flex;
    align-items: center;
}

li{
    display: block;
    padding: 20px 60px 20px 60px;
}


#navbar-image{
    max-width: 10vh
}

/* Hero */
.hero2{
    max-width: 1920px;
    height: 50rem;
}
.hero2_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
}
.hero2-wrapper li{
    padding: 3rem 6rem;
}

/* Orchestra */
.orchestra-content{
    display: none;
}
.orchestra-content{
    max-width: 1920px;
    width: 1920px;
    justify-content: center;
    align-items: center;
}
.orkiestra_wrapper{
    max-width: 1920px;
    width: 1920px;
    padding: 5rem 0;
    text-align: center;
}

.dyrygenci_wrapper{
    text-align: center;
}
.row-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col4{
    width: 50%;
    padding: 2rem 0rem;
}
.col4 img{
    width: 50%;
}

hr {
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* Tutaj stworz muzyki */

.muzycy_wrapper{
    display: flex;
    max-width: 1920px;
    width: 1920px;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.row-2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col5{
    display: block;
    justify-content: center;
    align-items: center;
    width: 30%;
}


















/* Footer */
.footer_wrapper{
    display: flex;
    height: 15rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col2{
    display: block;
    width: 33.3%;
}
.col2 > a > p{
    padding-top: 10px;
}
.col3{
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 2rem 0 2rem 0;
    border-top: 2px white solid;
}
.col3 p{
    padding-top: 0;
}